@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import "reset.css";
@import "variables.css";
@import "animations.css";

/* contents */
@import "contents/search.css";
@import "contents/menu.css";
@import "contents/contents.css";
@import "contents/greeting.css";

body {
    font-family: "Noto Sans KR", sans-serif;
    height: 100vh;
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank-1 {
    height: 10%;
}

.text-light {
    color: var(--white);
}

.text-dark {
    color: var(--grey-light);
}

.showing-off {
    display: none;
}
